@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root {
  --cor-header:#775FE6;
  --cor-trapesio: #8ACFCD;
  --cor-background: #DBEAFF;
  --branco: #F5F5F5;
  --cor-texto-preto: #181C1F;
  --fonte-principal: 'Montserrat', sans-serif;
  --fonte-secundaria: 'Krona One', sans-serif;
  --fonte-footer: Arial, Helvetica, sans-serif;
}
  
  
  
  /* Estilo para o cabeçalho retangular da frente */
  .header {
    background-color: var(--cor-header);
    width: 100%;
    color: var(--branco);
    padding: 10px;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center; /* Centraliza horizontalmente */
  }
  
  .logo1 {
    height: 80px;
    width: 140px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .logo2 {
    height: 80px;
    width: 200px;
    margin-right: 25px;
    margin-bottom: 10px;
  }
  
  .img-user {
    height: 45px;
    width: 45px;
    margin-right: 5%;
    margin-top: -11px;
  }
  
  .div-login {
    display: flex;
    position: absolute;
    right: 5%;
  }
  
  .text-login {
    position: static;
    color: var(--branco);
    text-decoration: none;
    font-size: 17px;
    font-family: var(--fonte-principal);
    font-weight: 200;
    text-align: center;
    position: relative;
    top: 0%;
    right: -15%;
    margin-right: 20px;
  }
  
  .text-login:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    text-decoration: underline;
  }
  
  
  /*Parte 1 - Netcar */
  
  .sublinhado {
    margin: 20px;
    font-size: 18px;
    margin-left: 60px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    display: inline-flex;
  }
  
  /* Estilo para o trapézio isósceles verde claro */
  /* E estilo para toda a parte 1(embaixo do header)*/
  .trapezoid-container {
    text-align: center;
    position: relative fixed;
    position:absolute;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: var(--cor-trapesio);
    padding: 40px 350px;
    clip-path: polygon(23% 35%, 80% 35%, 73% 65%, 30% 65%); /* Define o trapézio invertido */
    color: var(--cor-texto-preto);
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  nav ul li a {
    color: var(--branco);
    text-decoration: none;
    font-weight: 600;
    font-family: var(--fonte-principal);
  }  

  
  .aba:hover {
    text-decoration: underline;
  }
  .aba {
    margin: 10px;
  }
  
  .parte01 {
    background-color: var(--cor-background);
    height: 700px;
    width: 101%;
    margin-top:-20px;
  }
  
  label {
    color: var(--cor-texto-preto);
    position: relative;
    font-family: var(--fonte-secundaria);
    font-size: 12px;
  }

/* Ajustes para a tabela de auto-consulta do dashbord */

.container {
  max-width: 100%;
  margin: 0 auto; /* Isso centralizará o conteúdo na página */
}

.panel-heading{
  margin-top: 4%;
  text-align: center;
  font-family: var(--fonte-principal);
}

/* Alinhe a tabela no centro da página */
.table-responsive {
  margin: 0 auto;
  font-family: var(--fonte-secundaria);
  font-size: 12px;
}

/* Ajuste o estilo da tabela para melhorar a visualização */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px; /* Adicione espaço entre a tabela e o conteúdo acima */
}

/* Centralize o conteúdo das células da tabela */
.table th, .table td {
  text-align: center;
  padding: 8px;
}

/* Ajuste da largura do campo Modelo */
.table th:nth-child(1), .table td:nth-child(1) {
  width: 10%;
  border-right: 1px solid #ddd;
}

/* Ajuste da largura do campo Ano */
.table th:nth-child(2), .table td:nth-child(2) {
  width: 7%; 
  border-right: 1px solid #ddd;
}

/* Ajuste da largura do campo Placa */
.table th:nth-child(3), .table td:nth-child(3) {
  width: 8%; 
  border-right: 1px solid #ddd;
}

/* Ajuste da largura do campo Data Agendamento */
.table th:nth-child(4), .table td:nth-child(4) {
  width: 15%;
  border-right: 1px solid #ddd;
}

/* Ajuste da largura do campo Horário */
.table th:nth-child(5), .table td:nth-child(5) {
  width: 10%; 
  border-right: 1px solid #ddd;
}

/* Ajuste da largura do campo Descricao */
.table th:nth-child(6), .table td:nth-child(6) {
  width: 30%; 
  border-right: 1px solid #ddd;
}

/* Ajuste da largura do campo Alterar */
.table th:nth-child(7), .table td:nth-child(7) {
  width: 10%; 
  border-right: 1px solid #ddd;
}

/* Ajuste da largura do campo Cancelar */
.table th:nth-child(8), .table td:nth-child(8) {
  width: 10%; /* Ajuste conforme necessário */
}

/* Estilo para os botões de alterar e cancelar na tabela */
.btn-xs {
  padding: 5px 10px;
}


/* Estilo para o conteúdo do modal (tabela de alteração) */

.modal-title{
  display: flex;
  align-items: center;
  font-family: var(--fonte-principal);
  font-size: 20px;
  text-align: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo para cada linha da tabela dentro do modal */
.form-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}

/* Estilo para o rótulo de cada campo */
.form-group label {
  margin-bottom: 5px;
}

/* Estilo para os campos de entrada */
.form-group input {
  width: 90%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 2%;
}



/*FOOTER*/

footer {
    margin-top: 300px;
    height: 80px;
    background-color: var(--cor-header);
    color: var(--branco);
    padding: 10px 0 0 0;
    align-items: center;
    justify-content: center;
    width: 101%;
  }
  
  .textfooter {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px;
    font-family: var(--fonte-footer);
  }